@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.heightWindow {
  position: fixed;
  bottom: 0;
}

.path-fill {
  fill: #e74c3c;
  animation: pulse 1.5s infinite ease-in-out;
  transform-origin: center center;
}

.wave {
  fill: currentColor;
  opacity: 0.4;
  transform-origin: center center;
  animation: wave-pulse 2s infinite ease-in-out;
}

.wave-1 {
  animation-delay: 0s;
}
.wave-2 {
  animation-delay: 0.3s;
}
.wave-3 {
  animation-delay: 0.6s;
}

/* Анимация пульса основного сердца */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}

/* Анимация расходящейся волны */
@keyframes wave-pulse {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.container {
  //height: 200vh; /* Высота контейнера для прокрутки */
  display: flex;
  flex-direction: column;
  $marginTitle: 25px;
  &-wrap {

  }
  .offer {
    transform: scale(0.9);
    width: 100%;
    color: #f3f4ef;
    &-desc {
      font-size: 1rem;
      text-align: center;
      margin-top: 1.8rem;
    }
    &-title {
      font-family: "Comforter Brush", cursive;
      text-align: center;
      font-size: 4.8rem;
      margin-bottom: 1.4rem;
    }
  }
  .title {
    display: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: height 0.1s;
    width: 100%;
    font-size: 40px;
    //margin-left: 20px;
    margin-top: 3rem;
    &-end {
      text-align: center;
    }
    .dear {
      //margin-left: $marginTitle;
      text-align: center;
      font-size: 2.8rem;
      margin-bottom: 0rem;
    }
    .name {
      font-size: 3.6rem;
      font-family: "Comforter Brush", cursive;
      &-1 {
        text-align: left;
        margin-left: $marginTitle;
        transform: translateY(2.5rem);
      }
      &-2 {
        text-align: right;
        margin-right: $marginTitle;
        transform: translateY(-2rem);
      }
    }
    .invite {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center;
      padding-inline: $marginTitle;
    }
    .weeding {
      font-size: 45px;
    }
  }
}
.typing_text-heading {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

.section-typing_text {
  padding: 3rem;
}

.typing_text-heading {
  background: #2f2f2f;
  padding: 2rem;
  border: 1px solid red;
  width: 100%;
  max-width: 24rem;
  max-height: none !important;
  height: auto !important;
}
.box {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--doc-height);
  transition: height 0.1s;
  background-color: #191b20;
  clip-path: inset(50% 0%);
  font-size: 40px;
  margin: 0 auto;
  padding: 15px;
  z-index: 10;
}

.gallery {
  position: fixed; /* Фиксированное положение */
  top: 0; /* Центрирование по вертикали */
  //left: 110vw; /* Начальное положение за пределами экрана */
  transform: translateX(100%); /* Корректировка центрирования */
  //height: 100%;
  transition: height 0.1s;
  display: flex;
  flex-direction: column;
  //justify-content: start;
  align-items: start;
  overflow: hidden;
  opacity: 0;
  &-wrap {
    width: 100vw;
    height: 100vh;
    position: relative;
    img {
      position: absolute;
      //transform: translate(-50%, -50%);
      //display: none;
      //width: 200px;
      //height: 200px;
      box-shadow: 0px 0px 49px 14px rgba(34, 60, 80, 0.2);
    }
  }
  &-photo {
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    filter: blur(10px);
    transform: scale(1.05);
  }
}

.articles {
  position: fixed;
  padding: 10px;
  color: #191b20;
  //opacity: 0;
  //transform: translateY(100%);
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  //background-color: #f3f4ef;

  .article {
    border-top: 1px solid #191b20;;
    opacity: 0;
    transform: translateY(100%); /* Начальная позиция */
    h2 {
      font-family: "Comforter Brush", cursive;
      font-weight: 500;
      //width: 0;
      font-size: 2.8rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      //font-family: 'Moloko', sans-serif;
      margin-bottom: 60px;
      margin-top: 0;
      font-size: 0.9rem;
    }
    .dress-code {
      position: relative;
      width: 160px;
      height: 48px;
      border-radius: 50px;
      border: 1px solid red;
      display: flex;
      &-desc {
        text-align: center;
        margin-bottom: 1.5rem;
      }
      &-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); // 2 колонки равной ширины
        gap: 1rem; // расстояние между блокам
        padding-inline: .5rem;
      }
      &-body {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      &-circle {
        //position: absolute;
        content: '';
        display: block;
        height: 100%;
        right: 0;
        top: 0;
        padding-left: 31%;
        border-radius: 50%;
        background-color: #c57cfa;
      }
    }
  }

}

.leading {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  &-wrap {
    position: relative;
    height: 100%;
  }
  &-job {
    position: fixed;
    font-size: 54px;
    top: 30px;
    right: 30px;
    color: #fff;
    z-index: 5;
    transform: translateX(150%);
    mix-blend-mode: difference;
  }
  &-name {
    position: absolute;
    font-size: 54px;
    text-align: left;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
    bottom: 30px;
    left: 15px;
    z-index: 10;
    transform: translateX(-150%);
    mix-blend-mode: difference;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.site {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  &-wrap {
    position: relative;
    height: 100%;
  }
  &-job {
    position: absolute;
    font-size: 54px;
    bottom: 0;
    right: 30px;
    color: #fff;
    z-index: 10;
    //transform: translateY(100%);
    mix-blend-mode: difference;
    padding-left: 20px;
  }
  &-name {
    position: absolute;
    font-size: 32px;
    text-align: left;
    color: #fff;
    width: 90%;
    font-family: 'Merriweather', sans-serif;
    top: 0;
    left: 50%;
    //padding-left: 15px;
    padding: 10px 0;
    z-index: 10;
    transform: translate(-50%, -100%);
    //mix-blend-mode: difference;
    background-color: #000;
    text-align: center;
    //box-shadow: 0px 0px 55px 25px rgba(34, 60, 80, 0.2);
    span {
      font-size: 24px;
    }
  }
  .siteMap {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    transform: translateY(100%);
  }
  .coverSite {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .siteImg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    box-shadow: 0px -31px 35px 23px rgba(34, 60, 80, 0.2);
  }
  .siteImg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    box-shadow: 0px -31px 35px 23px rgba(34, 60, 80, 0.2);
    transform: translateY(100%);
    &_cover {
      position: relative;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

  }
}

.quiz {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f3f4ef;
  min-height: 100vw;
  padding-inline: 20px;
  transform: translateY(100%);
  &-hr {
    margin-block: 24px;
    border-bottom: 1px solid #C9C9C9;
    width: 94px;
    margin-inline: auto;
  }
  h2 {
    font-family: "Comforter Brush", cursive;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px;
  }
  &-form {
    display: grid;
    gap: 24px;
    button {
      width: 206px;
      height: 48px;
      background-color: transparent;
      border-radius: 50px;
      border: 1px solid #252525;
      margin: 0 auto 50px auto;
    }
    &-button {
      &--loader {
        width: 40px;
      }
    }
    &-fields {
      display: flex;
      flex-direction: column;
      gap: 14px;
      label {
        display: flex;
        align-items: center;
        .radio-checked, .checkbox-checked {
          fill: transparent;
          stroke: transparent;
          transition: fill, stroke 0.2s ease;
        }
        .animate-fill {
          fill: currentColor;
          stroke: currentColor;
        }
        span {
          font-size: 16px;
          margin-left: 4px;
        }
      }
    }
  }
}

.schedule {
  display: flex;
  display: grid;
  grid-template-columns: 40px 30px 1fr; // именно то, что нужно!
  gap: 25px; // отступы между блоками (по желанию)
  align-items: flex-start; // выравнивание по вертикали
  &-description {
    font-size: 12px;
  }
  &-title {
    font-size: 16px;
    margin-bottom: 4px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
    gap: 24px
  }
}

$base: 0.6rem;

.arrow-down {
  isolation: isolate;
  text-align: center;
  margin: 20px 0;
  color: white; /* или контрастный цвет */
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  z-index: 100001;
}

.scroll-hint {
  text-align: center;
  margin: 20px 0;
  color: white; /* или контрастный цвет */
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100001;
  svg {
    font-size: 40px;
  }
}

.scroll-arrow {
  animation: bounce 2s infinite;
  display: block;
  margin: 0 auto;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.accept-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &-wrap {
    background-color: #fff;
    width: 90%;
    height: auto;
    padding: 20px;
    text-align: center;
  }
}